.choice{
    height: 21px;
    border-radius: 8px;
    padding: 4px 19px;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #293264;
    cursor: pointer;
}