.question{
    margin: 12px 5px;
}

.question p{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 12px;
}

.question .choices{
    display: flex;
    align-items: flex-end;
    gap: 13px;
}
