.App{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(public/blobs.png), url(/public/blob5.png);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
}